# Byte-compiled files
__pycache__/
*.pyc
*.npz
.ipynb_checkpoints/

# ignore some outputs tests
pair*
.pair.xtc_offsets.lock
tests/integration/test_run_truncated_tauK18/

# dirs from develop
hierarchical_chain_growth.egg-info/
dist/
build/
